@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url("./all_unset.css"); /* Сброс стилей браузера */
@import url("./settings.css"); /* Настройки проекта */



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  transition: 250ms;
}

@media (min-width: 768px) {
  a:hover {
    transform: scale(1.1);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.g-16 {
  gap: 16px;
}

.s-btw {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.m-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.m-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-16 {
  padding: 16px !important;
}

.p-32 {
  padding: 32px !important;
}

.text-secondary {
  color: var(--neutral-600, #7D7D7D);
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/14/14 Regular */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.text-middle {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}

p {
  margin: 0;
}

.input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  cursor: text;
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  background: var(--neutral-100, #EFF2F6);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.checkbox {
  display: none;
}

.checkbox__label {
  cursor: pointer;
  color: var(--neutral-600, #7D7D7D);
  font-variant-numeric: lining-nums proportional-nums;

  /* Desktop/16/16 Regular */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.checkbox__label a {
  font-size: 16px !important;
}

.checkbox__fake {
  border-radius: 2px;
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #0085FF;
  color: #fff;
  justify-content: center;
  margin-right: 5px;
}

.checkbox__fake::before {
  content: "\2714";
  opacity: 0;
  transition: .2s;
}

.checkbox:checked+.checkbox__fake::before {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div {
  box-sizing: border-box;
}
