.main-slider__wrapper {
  display: none;
  flex-direction: column;
  gap: 32px;
}

.slider__wrapper {
  display: none;
}

@media (min-width: 768px) {
  .main-slider__wrapper {
    display: flex;
  }

  .slider__wrapper {
    display: block;
  }
}

@media (min-width: 992px) {
  .main-slider__wrapper {
    display: grid;
    grid-template-columns: 8fr 3fr;
  }
}

.main-slider {
  padding: unset;
  overflow: hidden;
  height: 320px;
  border-radius: 20px;
  position: relative;
}

.slider__item {
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
  /*transform: translateX(-100%);*/
  /*transition: ease-out;*/
  transition-duration: 0.4s;
}

.slider__background {
  z-index: 1;
  background-color: var(--primary-600, #7d7d7d);
  height: 100%;
  width: 100%;
}

.prev {
  transform: translateX(-100%);
  z-index: -2;
  /*transition-duration: .4s;*/
}

.active {
  /*display: flex;*/
  transform: unset;
  z-index: 2;
}

.next {
  transform: translateX(+100%);
  /*transition-duration: .4s;*/
  z-index: -1;
}

.slider__header {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/24 Bold */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.slider__text-block {
  padding-left: 70px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.slider__text {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  /* Desktop/14/14 Semibold */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.yellow {
  color: #fff200 !important;
}

.slider__image-block {
  background: radial-gradient(
    circle at bottom right,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%
  );
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.slider__image-block img {
  width: 95%;
  height: auto;
}

.slider__controls {
  position: absolute;
  box-sizing: border-box;
  padding: 8px;
  top: calc(50% - 32px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.slider__controls__btn {
  all: unset;
  width: 30px;
  height: 30px;
  padding: 12px;
  border-radius: 50%;
  background: #fff;
  transition: 250ms;
}

.slider__controls__btn:hover {
  transform: scale(1.1);
}

.left {
  content: " ";
  background-image: url("../img/svg/btn/left.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 32px;
}

.right {
  content: " ";
  background-image: url("../img/svg/btn/right.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 32px;
}

.card-slider {
  display: grid;
}

@media (min-width: 768px) {
  .card-slider {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .card-slider {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
}
