main {
  background-color: #eff2f6;
  min-height: 75vh;
  padding: 12px 0;
}

.fixed-navbar__wrapper {
  display: none;
  width: 100%;
  background: var(--dark, #0f1621);
  color: var(--neutral-100, #eff2f6);
}

.fixed-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-variant-numeric: lining-nums proportional-nums;
  padding: 16px;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.fixed-navbar a {
  color: #eff2f6;
  text-decoration: none;
}

.fixed-navbar__links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
}

.fixed-navbar__contact {
  display: none;
}

@media (min-width: 768px) {
  .fixed-navbar__wrapper {
    display: block;
  }
}

@media (min-width: 1200px) {
  .fixed-navbar__contact {
    display: flex;
  }
}

/* @media (max-width: 992px) {
  max-height: 56px;
} */

.icon-with-text::before {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.icon-with-text__geo::before {
  background-image: url("../img/svg/interface/Group.svg");
}

.icon-with-text__email::before {
  background-image: url("../img/svg/emails/Group.svg");
}

.icon-with-text__phone::before {
  background-image: url("../img/svg/phones/Group.svg");
}

.main-navbar__wrapper {
  padding: 12px;
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}

.main-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 92px;
  height: 56px;
  content: " ";
  background-image: url("../img/svg/Logo.svg");
}

.icon-link {
  width: 40px;
  height: 40px;
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  vertical-align: middle;
}

.icon-link__whatsapp {
  background-image: url("../img/svg/Whatups.svg");
}

.icon-link__telegram {
  background-image: url("../img/svg/Telegram.svg");
}

.icon-link__profile {
  background-image: url("../img/svg/user/Group.svg");
}

.icon-link__shopping-cart {
  background-image: url("../img/svg/shopping/Group.svg");
}

.main-navbar__icon-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.search-input__wrapper {
  display: none;
}

@media (min-width: 768px) {
  .search-input__wrapper {
    display: block;
    width: 100%;
    position: relative;
    padding: 0 12px;
  }
}

.search-input {
  padding: 12px 24px 12px 20px;
  box-sizing: border-box;
}

.search-input__wrapper::after {
  display: inline-block;
  position: absolute;
  content: " ";
  top: calc(50% - 12px);
  right: 24px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("../img/svg/search/Group.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.section-header {
  margin-right: 0;
  margin-left: 0;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;

  /* Desktop/24 Bold */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */
}

.btn {
  all: unset;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  padding: 12px 16px 12px 16px;
  align-items: center;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/16/16 Semibold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  transition: 250ms;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-default {
  background: var(--shades-white, #fff);
  color: var(--primary-600, #0085ff);
}

.btn-primary {
  color: var(--shades-white, #fff);
  background: var(--primary-600, #0085ff);
}

.btn-secondary {
  color: var(--primary-600, #0085ff);
  background: var(--neutral-200, #e9ecf0);
}

.btn-white {
  background: #fff;
  color: var(--dark, #0f1621);
}

.btn-arrow {
  padding-right: 24px;
}

.btn-arrow::after {
  position: absolute;
  content: " ";
  background-image: url("../img/svg/btn/Group.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: 4px;
}

.btn-menu {
  padding-left: 36px !important;
}

.btn-menu::before {
  position: absolute;
  content: " ";
  background-image: url("../img/svg/btn/burger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  left: 8px;
}

.btn-arrow-white {
  padding-right: 32px !important;
}

.btn-arrow-white::after {
  position: absolute;
  content: " ";
  background-image: url("../img/svg/arrows/arrow-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: 4px;
}

.btn-arrow-blue {
  padding-right: 32px !important;
}

.btn-arrow-blue::after {
  position: absolute;
  content: " ";
  background-image: url("../img/svg/arrows/arrow-blue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: 4px;
}

.btn-arrow-black {
  padding-right: 32px !important;
}

.btn-arrow-black::after {
  position: absolute;
  content: " ";
  background-image: url("../img/svg/arrows/arrow-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: 4px;
}

.cards-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards-4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .cards-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .cards-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

@media (min-width: 992px) {
  .cards-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
  .cards-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  }
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  content: " ";
  border-radius: 20px;
  background: #fff;
  background-size: 20%;
  background-position: bottom right 10%;
  background-repeat: no-repeat;
}

.card-with-img {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  content: " ";
  border-radius: 20px;
  background: #fff;
}

.card-with-img img {
  align-self: center;
}

@media (min-width: 992px) {
  .card-with-img {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 8px;
}

.scale {
  transition: 250ms;
}

.scale:hover {
  transform: scale(1.1);
}

.card__header {
  margin: 0;
  color: var(--dark, #0f1621);
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/22 Bold */
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 27.5px */
}

.card__header__sm {
  margin: 0;
  color: var(--dark, #0f1621);
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/16/16 Bold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.card__img-wrapper {
  position: relative;
  height: auto;
  width: 100%;
}

.card__img__brand {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
}

.card__img {
  width: 100%;
  height: auto;
}

.card__text {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/16/16 Medium */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.card__stock {
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/16/16 Semibold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.card__stock__success {
  color: #18ce09;
}

.card__price {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/22 Bold */
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 27.5px */
}

.card__link {
  display: block;
  margin: 20px 0;
  text-decoration: none;
  color: var(--neutral-600, #7d7d7d);
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/14/14 Regular */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.card__link::after {
  background-image: url("../img/svg/arrows/arrow-grey.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.card__link:hover {
  transform: none;
}

.card__footer {
  display: flex;
  width: 100%;
}

.card__footer button {
  width: 100%;
}

.pre-footer-wrapper {
  background-color: #ffffff;
  width: 100%;
}

.pre-footer {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .pre-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  background-color: #eff2f6;
  width: 100%;
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; */
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

@media (min-width: 576px) {
  .form-inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
  }
}

.icon-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: var(--neutral-600, #7d7d7d);
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/14/14 Regular */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.footer__contact {
  text-decoration: none;
  word-break: keep-all;
  color: var(--dark, #0f1621);
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  /* Desktop/14/14 Semibold */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.footer__contact__email::before {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/svg/emails/email-blue.svg");
}

.footer__contact__phone::before {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/svg/phones/phone-blue.svg");
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.side-img {
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .side-img {
    height: 100%;
    width: auto;
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
